body {
  font-family: monospace;
  background-color: rgb(247, 247, 247);
}

.header {
  display: flex;
  background-color: white;
  justify-content: center;
}
.logo {
  width: 80px;
}


header > p {
  text-align: center;
  font-size: 25px;
}

.header-buttons {
  display: flex;
  justify-content: center;
}

.button-delivery {
  margin-right: 10px;
  width: 200px;
  height: 80px;
  background-color: rgb(0, 137, 168);
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 10px;
}

.button-pickup {
  margin-left: 10px;
  width: 200px;
  height: 80px;
  background-color: rgb(224, 81, 81);
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 10px;
}

.delivery-form {
  text-align: center;
}
.title {

}
.container {
  display: flex;
}

.left-half {
  display: flex;
  width: 70%;
}

.right-half {
  width: 30%;
}

.fas {
  margin-left: 8px;
  cursor: pointer;
}

h1 {
  text-align: center;
}

.pizza {
  margin: 1rem;
  width: 200px;
  /* border: 1px solid black; */
  box-shadow: 0 0 7px 0 black;
  /* box-shadow: 1px 1px 5px 1px black, -1px 1px 5px 1px black; */
}

img {
  width: 200px;
 height: auto;
 border-radius: 5px;
}

.cart {
  margin-top: 20px;
  border: 1px solid grey;
  padding: 20px;
}

.summary-text {
  text-align: center;  
  margin-top: 0;
}



.make-order {
  display: none;
  margin-top: 1rem;
  font-size: 1rem;
}

.order-message {
  display: none;
}
