.container {
  display: flex;
}

.left-half {
  width: 70%;
}

.right-half {
  width: 30%;
}

.description {
display: flex;
flex-direction: column;
margin-left: 1rem;
}
.p {
  width: 30%;
}

h1 {
  text-align: center;
}

.butt-text {
  display: flex;
}

.butt {
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.amount {
  margin-left: 1rem;
}

body {
  background-color:#F0F0F0;
}

.pizza {
  display: flex;
  margin: 1rem;
}

img {
  width: 30%;
 height: auto;
 border-radius: 10%;
}

.cart {
  border: 1px solid blue;
  padding: 20px;
}

.summary-text {
  text-align: center;  
  margin-top: 0;
}

.final-pizzas {
  display: none;
}

.final-number {
  display: none;
}

.make-order {
  display: none;
  margin-top: 1rem;
  font-size: 1rem;
}

.order-message {
  display: none;
}